<div class="user-details">
  <h1>Thông tin về tôi - Giải lao với(<a href="/music" target="blank">Music</a>)</h1>
  <p>
    <img src="/myprofile.jpg" alt="Huu Hoa Profile" title="Huu Hoa - Developer" />
  </p>
</div>
<div id="contents">
    <h1 class="c29"><span class="c19 c38">TECHNICAL EXPERTISES</span></h1>
    <ul class="c6 lst-kix_list_4-0">
        <li class="c12"><span class="c9">Programming skills:</span></li>
    </ul>
    <ul class="c6 lst-kix_list_5-1 start">
        <li class="c18"><span class="c0">Web: Web API, XML, Ajax, Web standards (XHTML, CSS), Javascript, jQuery, NodeJS, PHP, VueJs, ReactJS</span></li>
        <li class="c18"><span class="c0">C/C++: STL</span></li>
    </ul>
    <ul class="c6 lst-kix_list_6-1 start">
        <li class="c12"><span class="c9">Methodologies and practices:</span><span class="c0"> OOP, Design patterns</span></li>
    </ul>
    <ul class="c6 lst-kix_list_7-1 start">
        <li class="c12"><span class="c9">IDEs:</span><span class="c0"> Microsoft Visual Studio /2008/2013/2017, VSCode, Netbeans</span></li>
    </ul>
    <ul class="c6 lst-kix_list_4-1 start">
        <li class="c14 c16"><span class="c9">Database platforms: </span><span class="c0">MySQL, SQLite, MongoDB</span></li>
    </ul>
    <ul class="c6 lst-kix_list_19-0 start">
        <li class="c16 c14"><span class="c9">Pentest tools: BurpSuite, Fiddler, IDA        </span></li>
    </ul>
    <h1 class="c29"><span class="c19 c38">CAREER HIGHLIGHTS</span></h1>
    <p class="c21"><span class="c0">Có nhiều kinh nghiệm về PHP</span></p>
    <p class="c21"><span>Có </span><span class="c0">kiến thức cơ bản về ReactJs, NodeJS</span></p>
    <p class="c21"><span>Phân tích công nghệ và </span><span class="c0">tích hợp ứng dụng với các thư viện bên thứ ba phù hợp</span></p>
    <p class="c21"><span>Có kinh nghiệm phát triển các framework dựa trên nền tảng PHP như: Laravel, Kohana, CI…</span></p>
    <p class="c21"><span class="c0">Có kiến thức cơ bản và làm việc C++ GUI framework MFC</span></p>
    <p class="c21"><span class="c0">Kinh nghiệm phân tích và thiết kế cơ sở dữ liệu: MySQL, SQLite</span></p>
    <h1 class="c29"><span class="c19 c38"> PERSONAL ATTRIBUTES</span></h1>
    <ul class="c6 lst-kix_list_4-0">
        <li class="c5"><span class="c34">Ý thức trách nhiệm, cẩn thận trong tất cả các công việc được giao.</span></li>
    </ul>
    <p class="c23"><span class="c33"></span></p>
    <ul class="c6 lst-kix_list_4-0">
        <li class="c5"><span class="c34">Có thể nghiên cứu công nghệ mới một cách nhanh chóng.</span></li>
    </ul>
    <p class="c23"><span class="c33"></span></p>
    <ul class="c6 lst-kix_list_4-0">
        <li class="c5"><span class="c34">Có khả năng làm việc nhóm hoặc độc lập.</span></li>
    </ul>
    <p class="c23"><span class="c33"></span></p>
    <ul class="c6 lst-kix_list_4-0">
        <li class="c5"><span class="c34">Có khả năng làm việc với áp lực cao.</span></li>
    </ul>
    <p class="c23"><span class="c33"></span></p>
    <ul class="c6 lst-kix_list_4-0">
        <li class="c5"><span class="c34">Có kinh nghiệm tốt trong nghành công nghiệp phần mềm.</span></li>
    </ul>
    <p class="c23"><span class="c33"></span></p>
    <ul class="c6 lst-kix_list_4-0">
        <li class="c5"><span class="c34">Có khả năng tự tìm hiểu tốt.</span></li>
    </ul>
    <h1 class="c29"><span class="c19 c38">WORK HISTORY</span></h1>
    <h2 class="c27"><span class="c36">Freelancer</span><span class="c1">        2009 – Present</span></h2>
    <p class="c7"><span class="c1">Nhận làm các dự án của cá nhân và tổ chức doanh nghiệp, hoặc phát triển modules tích hợp vào các hệ thống, pentest các loại hệ thống như hệ thống thương mại điện tử, hệ thống bitcoin,…</span></p>
    <ol class="c6 lst-kix_list_1-0 start" start="1">
        <li class="c32">
            <h3 style="display:inline"><span class="c8 c1">Phát triển add-ons dành cho nền tảng diễn đàn vBulletin</span></h3></li>
    </ol>
    <a id="t.0b7e886f24477201ddd4cc826bac6c159e981206"></a>
    <a id="t.0"></a>
    <table class="c2">
        <tbody>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Duration</span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <p class="c7"><span class="c1">2009 –2011</span></p>
                </td>
            </tr>
            <tr class="c17">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Position</span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <p class="c7"><span class="c0">Developer, điều hành viên tại diễn đàn vietvbb.vn</span></p>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Project Description</span></p>
                    <p class="c4"><span class="c9"></span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <p class="c7"><span class="c1">Phát triển add-ons, templates modifications<br>Trong năm đã phát triển dự án diễn đàn rao vặt và diễn đàn giải trí phi lợi nhuận với tên miền: </span><span class="c1">www.rao247.vn</span><span class="c1">, webgiaitri.org</span></p>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">My Responsibilities</span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <ul class="c6 lst-kix_list_2-0 start">
                        <li class="c7 c14"><span class="c1">Coding </span></li>
                        <li class="c7 c14"><span class="c1">Fix bug</span></li>
                    </ul>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Technologies</span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <ul class="c6 lst-kix_list_2-0">
                        <li class="c7 c14"><span class="c1">PHP, XML</span></li>
                        <li class="c7 c14"><span class="c1">MySQL</span></li>
                        <li class="c7 c14"><span class="c1">jQuery</span></li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="c4"><span class="c0"></span></p>
    <p class="c4"><span class="c0"></span></p>
    <ol class="c6 lst-kix_list_1-0" start="2">
        <li class="c32">
            <h3 style="display:inline"><span class="c8 c1">Phát triển hệ thống thanh toán tích hợp bảo kim, ngân lượng</span></h3></li>
    </ol>
    <p class="c7"><span class="c0">        </span></p>
    <a id="t.eca296994f59b4ee0aaef13f4d2816006eb22738"></a>
    <a id="t.1"></a>
    <table class="c2">
        <tbody>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Duration</span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <p class="c7"><span class="c0">2012 – 2013</span></p>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Position</span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <p class="c7"><span class="c1">Developer</span></p>
                </td>
            </tr>
            <tr class="c41">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Project Description</span></p>
                    <p class="c4"><span class="c9"></span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <p class="c7"><span class="c1">Tích hợp hệ thống thanh toán bên thứ ba như ngân lượng, bảo kim vào các hệ thống rao vặt, shoping cá nhân, …</span></p>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">My Responsibilities</span></p>
                    <p class="c4"><span class="c9"></span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <ul class="c6 lst-kix_list_3-0 start">
                        <li class="c7 c14"><span class="c0">Coding</span></li>
                        <li class="c7 c14"><span class="c0">Fix bug</span></li>
                    </ul>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Technologies</span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <ul class="c6 lst-kix_list_3-0">
                        <li class="c7 c14"><span class="c1">PHP</span></li>
                        <li class="c7 c14"><span class="c1">MySQL, SQLite</span></li>
                        <li class="c7 c14"><span class="c1">jQuery</span></li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="c4"><span class="c0"></span></p>
    <p class="c4 c44"><span class="c0"></span></p>
    <ol class="c6 lst-kix_list_1-0" start="3">
        <li class="c32">
            <h3 style="display:inline"><span class="c8 c1">Phát triển hệ thống get link Google Drive</span></h3></li>
    </ol>
    <p class="c4"><span class="c0"></span></p>
    <a id="t.4f1434d80711707838b7d2ba406f24f6990bc8ce"></a>
    <a id="t.2"></a>
    <table class="c2">
        <tbody>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Duration</span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <p class="c7"><span class="c0">Jun 2017 – August 2017</span></p>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Position</span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <p class="c7"><span class="c1">Developer, Author</span></p>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Project Description</span></p>
                    <p class="c4"><span class="c9"></span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <p class="c24"><span class="c0">Hệ thống lấy liên kết tải trực tiếp từ liên kết gốc của google drive để tích hợp vào các hệ thống website xem phim.</span></p>
                    <p class="c24"><span class="c0">Cung cấp dịch vụ này cho các hệ thống website xem phim trong nước như: phimmoi.net, anime47.net,...</span></p>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">My Responsibilities</span></p>
                    <p class="c4"><span class="c9"></span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <ul class="c6 lst-kix_list_3-0">
                        <li class="c7 c14"><span class="c1">Coding</span></li>
                        <li class="c7 c14"><span class="c1">Research</span></li>
                    </ul>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Technologies</span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <ul class="c6 lst-kix_list_3-0">
                        <li class="c7 c14"><span class="c1">PHP, C</span></li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="c4"><span class="c0"></span></p>
    <ol class="c6 lst-kix_list_1-0" start="4">
        <li class="c32">
            <h3 style="display:inline"><span class="c8 c1">Bug bounty Udemy</span></h3></li>
    </ol>
    <p class="c4"><span class="c0"></span></p>
    <a id="t.a753efce6c38d6fa9aedc9bd34b6d52afe6b4fc1"></a>
    <a id="t.3"></a>
    <table class="c2">
        <tbody>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Duration</span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <p class="c7"><span class="c0">August 2019</span></p>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Position</span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <p class="c7"><span class="c1">Blackbox pentest</span></p>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Project Description</span></p>
                    <p class="c4"><span class="c9"></span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <p class="c24" id="h.gjdgxs"><span class="c0">Phát hiện lổ hổng XSS (Cross-Site Scripting) trong Edemy, một nền tảng học tập trực tuyến nằm trong top 300 trang web lớn nhất toàn cầu và đứng top 1 trong các trang về giáo dục.</span></p>
                    <p class="c24"><span class="c0">Chi tiết về lổ hổng:</span></p>
                    <ul class="c6 lst-kix_list_19-0">
                        <li class="c24 c14"><span class="c30"><a class="c37" href="https://www.junookyo.com/2019/08/xss-udemy-bug-bounty-j2team.html">https://www.junookyo.com/2019/08/xss-udemy-bug-bounty-j2team.html</a></span></li>
                    </ul>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">My Responsibilities</span></p>
                    <p class="c4"><span class="c9"></span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <ul class="c6 lst-kix_list_3-0">
                        <li class="c7 c14"><span class="c1">Research</span></li>
                        <li class="c7 c14"><span class="c1">Pentest</span></li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="c4"><span class="c0"></span></p>
    <ol class="c6 lst-kix_list_1-0" start="5">
        <li class="c32">
            <h3 style="display:inline"><span class="c8 c1">Bug bounty Google</span></h3></li>
    </ol>
    <p class="c4"><span class="c0"></span></p>
    <a id="t.6ba2d366541d27e5ea961dd59121d1f509366e37"></a>
    <a id="t.4"></a>
    <table class="c2">
        <tbody>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Duration</span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <p class="c7"><span class="c0">November 2019</span></p>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Position</span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <p class="c7"><span class="c1">Blackbox pentest</span></p>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Project Description</span></p>
                    <p class="c4"><span class="c9"></span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <p class="c24" id="h.gjdgxs"><span class="c0">Phát hiện lổ hổng XSS (Cross-Site Scripting) trong Google Translate, một sản phẩm có hơn 500 triệu người dùng mỗi ngày.</span></p>
                    <p class="c24"><span class="c0">Một số bài báo có đưa tin:</span></p>
                    <ul class="c6 lst-kix_list_19-0">
                        <li class="c24 c14"><span class="c30"><a class="c37" href="http://kenh14.vn/hacker-viet-duoc-google-thuong-31337-usd-nho-cong-lao-lon-so-tien-le-vay-lai-hoa-ra-an-y-ngam-thu-vi-2019123015145516.chn">http://kenh14.vn/hacker-viet-duoc-google-thuong-31337-usd-nho-cong-lao-lon-so-tien-le-vay-lai-hoa-ra-an-y-ngam-thu-vi-2019123015145516.chn</a></span></li>
                        <li class="c14 c46"><span class="c30"><a class="c37" href="https://genk.vn/hacker-viet-duoc-google-thuong-31337-usd-nho-cong-lao-lon-so-tien-le-vay-lai-hoa-ra-an-y-ngam-thu-vi-20191230161208551.chn">https://genk.vn/hacker-viet-duoc-google-thuong-31337-usd-nho-cong-lao-lon-so-tien-le-vay-lai-hoa-ra-an-y-ngam-thu-vi-20191230161208551.chn</a></span></li>
                    </ul>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">My Responsibilities</span></p>
                    <p class="c4"><span class="c9"></span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <ul class="c6 lst-kix_list_3-0">
                        <li class="c7 c14"><span class="c1">Research</span></li>
                        <li class="c7 c14"><span class="c1">Pentest</span></li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="c4"><span class="c0"></span></p>
    <p class="c4"><span class="c0"></span></p>
    <p class="c4"><span class="c0"></span></p>
    <h2 class="c27"><span class="c36">MagicBow</span><span class="c38 c1 c43">        Nov 2018 – Jan 2019</span></h2>
    <h3 class="c47"><span class="c1 c8">Roles and Responsibilities</span></h3>
    <ul class="c6 lst-kix_list_12-0 start">
        <li class="c7 c20"><span class="c1">Full stack developer</span></li>
    </ul>
    <ol class="c6 lst-kix_list_18-0 start" start="1">
        <li class="c32">
            <h3 id="h.h92vrlf1mixd" style="display:inline"><span>MZG </span><span class="c42">Happiness</span><span class="c8 c1"> product</span></h3></li>
    </ol>
    <p class="c4"><span class="c10"></span></p>
    <a id="t.af3e171ce16312acb84ea834877f200014e238ba"></a>
    <a id="t.5"></a>
    <table class="c2">
        <tbody>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Duration</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c7"><span class="c0">November 2018 – January 2019</span></p>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Position</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c7"><span class="c1">Developer</span></p>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Project Description</span></p>
                    <p class="c4"><span class="c9"></span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c24"><span class="c10">Một sản phẩm của công ty MagicBow thuộc MediaZ, hệ thống kết nối nhân sự.</span></p>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">My Responsibilities</span></p>
                    <p class="c4"><span class="c9"></span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <ul class="c6 lst-kix_list_14-0 start">
                        <li class="c7 c14"><span class="c1">Coding</span></li>
                        <li class="c7 c14"><span class="c1">Maintenance</span></li>
                    </ul>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Technologies</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <ul class="c6 lst-kix_list_14-0">
                        <li class="c7 c14"><span class="c1">PHP</span></li>
                        <li class="c7 c14"><span class="c1">MySQL</span></li>
                        <li class="c7 c14"><span class="c1">jQuery</span></li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="c7"><span>     </span></p>
    <p class="c27"><span class="c19">HocExcelOnline</span><span class="c38 c1 c43">        April 2019 – Present</span></p>
    <p class="c40"><span class="c8 c1">Roles and Responsibilities</span></p>
    <ul class="c6 lst-kix_list_12-0">
        <li class="c7 c20"><span class="c1">Full stack developer</span></li>
    </ul>
    <ol class="c6 lst-kix_list_17-0 start" start="1">
        <li class="c32">
            <h3 style="display:inline"><span class="c8 c1">Phát triển hệ thống học tập trực tuyến</span></h3></li>
    </ol>
    <p class="c7"><span>     </span></p>
    <a id="t.c9c93b9f8b84ef6d9e2d811627ef20181eca294f"></a>
    <a id="t.6"></a>
    <table class="c2">
        <tbody>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Duration</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c7"><span class="c0">Arpil 2019 – Present</span></p>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Position</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c7"><span class="c1">Developer</span></p>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Project Description</span></p>
                    <p class="c4"><span class="c9"></span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c24"><span class="c10">Một sản phẩm của công ty HEO, hệ thống học trực tuyến.</span></p>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">My Responsibilities</span></p>
                    <p class="c4"><span class="c9"></span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <ul class="c6 lst-kix_list_14-0">
                        <li class="c7 c14"><span class="c1">Coding</span></li>
                        <li class="c7 c14"><span class="c1">Maintenance</span></li>
                    </ul>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Technologies</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <ul class="c6 lst-kix_list_14-0">
                        <li class="c7 c14"><span class="c1">PHP, NodeJs, VueJs, ReactJs</span></li>
                        <li class="c7 c14"><span class="c1">MySQL</span></li>
                        <li class="c7 c14"><span class="c1">jQuery</span></li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="c7"><span>     </span></p>
    <ol class="c6 lst-kix_list_17-0" start="2">
        <li class="c32">
            <h3 style="display:inline"><span class="c8 c1">Phát triển hệ thống call center</span></h3></li>
    </ol>
    <p class="c7"><span>     </span></p>
    <a id="t.07132fcfc68b27a896b388d76081f23288893c55"></a>
    <a id="t.7"></a>
    <table class="c2">
        <tbody>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Duration</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c7"><span class="c0">Arpil 2019 – Present</span></p>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Position</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c7"><span class="c1">Developer</span></p>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Project Description</span></p>
                    <p class="c4"><span class="c9"></span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c24"><span class="c10">Một sản phẩm của công ty HEO, hệ thống tổng đài chăm sóc khách hàng.</span></p>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">My Responsibilities</span></p>
                    <p class="c4"><span class="c9"></span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <ul class="c6 lst-kix_list_14-0">
                        <li class="c7 c14"><span class="c1">Coding</span></li>
                        <li class="c7 c14"><span class="c1">Maintenance</span></li>
                    </ul>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Technologies</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <ul class="c6 lst-kix_list_14-0">
                        <li class="c7 c14"><span class="c1">PHP, NodeJs, VueJs, ReactJs</span></li>
                        <li class="c7 c14"><span class="c1">MySQL, MongoDB</span></li>
                        <li class="c7 c14"><span class="c1">jQuery</span></li>
                        <li class="c7 c14"><span class="c1">WebSocket, WebRTC</span></li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
  <p class="c7"><span></span></p>
  <p class="c4"><span class="c0"></span></p>
</div>
