<div class="user-details">
  <h1>My Profile(<a href="/music" target="blank">Music</a>)</h1>
  <p>
    <img src="/vjetprofile.png" alt="Huu Hoa Profile" title="Huu Hoa - Dev Operations" />
  </p>
</div>
<div id="contents">
    <h1 class="c29"><span class="c19 c38">TECHNICAL EXPERTISES</span></h1>
    <ul class="c6 lst-kix_list_4-0">
        <li class="c12"><span class="c9">Programming skills:</span></li>
    </ul>
    <ul class="c6 lst-kix_list_5-1 start">
        <li class="c18"><span class="c0">Web: Web API, Javascript, NodeJS, PHP, ReactJS, Flutter</span></li>
        <li class="c18"><span class="c0">Native app: React Native, Flutter, Java, Ionic</span></li>
    </ul>
    <ul class="c6 lst-kix_list_6-1 start">
        <li class="c12"><span class="c9">Methodologies and practices:</span><span class="c0"> OOP, Design patterns</span></li>
    </ul>
    <ul class="c6 lst-kix_list_7-1 start">
        <li class="c12"><span class="c9">IDEs:</span><span class="c0">VSCode, Android studio, Jetbrain, Spring</span></li>
    </ul>
    <ul class="c6 lst-kix_list_4-1 start">
        <li class="c14 c16"><span class="c9">Database platforms: </span><span class="c0">MySQL, SQLite, MongoDB, ExpressJS, PostgreSQL</span></li>
    </ul>
    <ul class="c6 lst-kix_list_19-0 start">
        <li class="c16 c14"><span class="c9">DevOps: </span><span class="c0">Docker, Kubernetes, AWS</span></li>
    </ul>
    <h1 class="c29"><span class="c19 c38">CAREER HIGHLIGHTS</span></h1>
    <p class="c21"><span class="c0">I have a lot of experience in Design Systems</span></p>
    <p class="c21"><span></span>Have<span class="c0">Basic knowledge of ReactJs, NodeJS, FireBase, Flutter, React Native</span></p>
    <p class="c21"><span>Technology analysis and</span><span class="c0">application integration with appropriate third-party libraries</span></p>
    <p class="c21"><span class="c0">Have experience of basic knowledge and work in system operation</span></p>

    <h1 class="c29"><span class="c19 c38"> PERSONAL ATTRIBUTES</span></h1>
    <ul class="c6 lst-kix_list_4-0">
        <li class="c5"><span class="c34">Sense of responsibility, careful in all assigned tasks.</span></li>
    </ul>
    <p class="c23"><span class="c33"></span></p>
    <ul class="c6 lst-kix_list_4-0">
        <li class="c5"><span class="c34">Can research new technology quickly.</span></li>
    </ul>
    <p class="c23"><span class="c33"></span></p>
    <ul class="c6 lst-kix_list_4-0">
        <li class="c5"><span class="c34">Capable of working in a team or independently.</span></li>
    </ul>
    <p class="c23"><span class="c33"></span></p>
    <ul class="c6 lst-kix_list_4-0">
        <li class="c5"><span class="c34">Able to work under high pressure.</span></li>
    </ul>
    <p class="c23"><span class="c33"></span></p>
    <ul class="c6 lst-kix_list_4-0">
        <li class="c5"><span class="c34">Good experience in the software industry.</span></li>
    </ul>
    <p class="c23"><span class="c33"></span></p>
    <ul class="c6 lst-kix_list_4-0">
        <li class="c5"><span class="c34">Good self-study ability.</span></li>
    </ul>
    <h1 class="c29"><span class="c19 c38">WORK HISTORY</span></h1>
    <h2 class="c27"><span class="c36">Freelancer</span><span class="c1">        2020 – Present</span></h2>
    <p class="c7"><span class="c1">Accept to do projects for individuals and corporate organizations, or develop modules to integrate into systems, pentest all kinds of systems such as e-commerce systems, education systems,...</span></p>
    <ol class="c6 lst-kix_list_1-0 start" start="1">
        <li class="c32">
            <h3 style="display:inline"><span class="c8 c1">Developing an online learning management system</span></h3></li>
    </ol>
    <a id="t.0b7e886f24477201ddd4cc826bac6c159e981206"></a>
    <a id="t.0"></a>
    <table class="c2">
        <tbody>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Duration</span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <p class="c7"><span class="c1">2020 –2021</span></p>
                </td>
            </tr>
            <tr class="c17">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Position</span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <p class="c7"><span class="c0">Developer, Design</span></p>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Project Description</span></p>
                    <p class="c4"><span class="c9"></span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <p class="c7"><span class="c1">Developing and updating online education trends while Covid 19 is happening at host </span><span class="c1"></span><span class="c1">mf47.ithutech.net</span></p>
                    <li class="c24 c14"><span class="c30"><a class="c37" href="https://tuoitre.vn/san-choi-hoc-thuat-cua-sinh-vien-cong-nghe-thong-tin-truong-hutech-20210311161745798.htm">https://tuoitre.vn/san-choi-hoc-thuat-cua-sinh-vien-cong-nghe-thong-tin-truong-hutech-20210311161745798.htm</a></span></li>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">My Responsibilities</span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <ul class="c6 lst-kix_list_2-0 start">
                        <li class="c7 c14"><span class="c1">Coding </span></li>
                        <li class="c7 c14"><span class="c1">Fix bug</span></li>
                    </ul>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Technologies</span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <ul class="c6 lst-kix_list_2-0">
                        <li class="c7 c14"><span class="c1">PHP, Nodejs</span></li>
                        <li class="c7 c14"><span class="c1">MySQL</span></li>
                        <li class="c7 c14"><span class="c1">jQuery</span></li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="c4"><span class="c0"></span></p>
    <p class="c4"><span class="c0"></span></p>
    
</div>
