<div class="user-details">
    <h1>I Wanna Relax</h1>
    <p>
      <div id="player"></div>
      <script type="text/javascript">
        let tag = document.createElement('script');
        tag.src = "https://www.youtube.com/iframe_api";
        let firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        let player;
        function onYouTubeIframeAPIReady() {
          player = new YT.Player('player', {
            height: '415',
            width: '100%',
            playerVars: { 
              listType:'playlist', 
              list: 'PLhpgEt5k8KJX1ojGeKsFC2KU23VmqZjHp'
            },
            events: {
              'onReady': onPlayerReady,
              'onStateChange': onPlayerStateChange
            }
          });
        }
  
        function onPlayerReady(event) {
          event.target.mute();
          event.target.playVideo();
        }
  
        function onPlayerStateChange(event) {
          if (event.data == YT.PlayerState.PLAYING) {
            event.target.unMute();
          }
        }
      </script>
    </p>
  </div>